* {
  margin: 0;
}

body {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.7);
}

h1 {
  font-family: 'Pattaya', sans-serif;
}

.banner {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url("https://source.unsplash.com/collection/190727/1600x900");
  background-size: cover;
  text-align: center;
  align-content: center;
}

.container {
  width: 500px;
  margin: 50px auto;
}

.container>h2 {
  margin: 20px 10px;
  font-family: 'Roboto', sans-serif;
  color: rgba(200, 200, 200, 1);
}

.container>p {
  margin: 20px 10px;
  letter-spacing: 1.5px;
  font-family: 'PT Sans', sans-serif;
}

.banner>.container>h1 {
  color: rgba(255, 255, 255, 1);
}

.banner>.container>p {
  color: rgba(255, 255, 255, 0.8);
}

a{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  margin-left: 11px;
  letter-spacing: 1.5px;
  background-color: cyan;
  color:black;
  text-decoration: none;
}

a:hover{
  background-color: mediumspringgreen;
  font-size: 27px;
}

@media(max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 350px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 250px;
  }
}